.btn-site{
  width: 211px;
  height: 45px;
  background: #E6FFE6;
  border: 1px solid #004D00;
  box-sizing: border-box;
  border-radius: 15px 15px 0px 15px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #004D00;
}

.text-verde{
  color: #004D00 !important;
}

a{
  cursor: pointer;
}

.header-com-logo{
  height: 7em;
  background: rgba(0, 77, 0, 0.79);
  mix-blend-mode: multiply;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 10px 10px;
}

.header{
  height: 2.1em;
  background: rgba(0, 77, 0, 0.79);
  mix-blend-mode: multiply;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 10px 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 23px;
  color: #FFFFFF;
}

.footer{
  height: 3em;
  background: rgba(0, 77, 0, 0.79);
  mix-blend-mode: multiply;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 0px 0px;
}

.foto-cadastro{
  width: 7em;
  height: 7em;
  border: 1px solid #004D00;
  box-sizing: border-box;
}

.foto-perfil{
  width: 1.5em;
  height: 1.5em;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}

.borda-branco{
  border-color: #ffffff;
}

.borda-verde{
  border-color:  rgba(0, 77, 0, 0.79);;
}

.alterar-foto{
  width: 1.6em;
  height: 1.6em;
  background: #F2F2F2;
}

.badge-foto{
  position: absolute;
  top: 7.5em;
  left: 7em;
}

.badge-verde{
  background-color: #004D00;
  color: #ffffff;
}

.form-check-input {
  margin-top: 0.4rem !important;
}

button.dropdown-toggle{
  color: #495057;
  background-color: #ffffff;
  border : 1px solid #ced4da;
}

.badge-notificacao-header{
  margin-left: -2em;
  font-size: 40%;
}

.card-principal{
  background: #F2F2F2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.icon-plus-animated {
  animation-name: collapse-icon-animation;
  animation-duration: 0.25s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode:forwards;
}

.icon-close-animated {
  animation-name: collapse-icon-animation-reverse;
  animation-duration: 0.25s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode:forwards;
}

@keyframes collapse-icon-animation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(90deg);
  }
}

@keyframes collapse-icon-animation-reverse {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(135deg);
  }
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(163, 194, 194, 0.95);; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.body-menu{
  background: #E6FFE6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icone-adicionar{
  width: 2.5em;
  height: 2.5em;
  background: #ffffff;
}